
/**
 * Huedeck, Inc.
 */

@import '../Selector.css';

.colorsContainer {
  white-space: pre-wrap;
  text-align: center;
}

.selectBlock {
  width: 12%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.selectBlock > div {
  text-transform: capitalize;
  padding: 5px 0;
}

.colorBtn {
  width: 70%;
  padding-bottom: 70%;
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  composes: paletteBoxShadow;
}
	 
.colorBtn svg {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 3.5rem;
}

@media screen and (max-width: 600px) {
  .selectBlock {
    width: 25%;
    font-size: 11px;
  }
}
