@import '../../../components/variables.css';

.container {
  width: 100%;
  max-width: var(--max-content-width-xl);
  margin-bottom: 3%;
}

.container img {
  width: 100%;
  height: auto;
}

.container a {
  outline: none;
  text-decoration: none;
}

.preloader {
  width: 100%;
  padding-bottom: 25%;
  background: var(--background-color);
}

@media screen and (max-width: 480px) {
  .container {
    margin-bottom: 10%;
  }
}
