/*
	Huedeck, Inc.
*/

@import '../../../../components/variables.css';

.container {
  display: block;
}

.editable {
  vertical-align: top;
  display: inline-block;
  margin-right: 3%;
}

.hsl {
  width: 56%;
  display: inline-block;
  margin-bottom: 10px;
}

.hsl .saturation {
  height: 130px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5px;
}

.hsl .hue {
  display: block;
}

.checker {
  margin: 0 auto;
  width: 94%;
}

.baseColor {
  height: 38px;
  width: 38px;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
