@import '../../../components/variables.css';

.container {
  width: 100%;
  max-width: var(--max-content-width-xl);
  margin-bottom: 3%;
}

.collectionCardWrapper {
  width: 33.33%;
  display: inline-block;
  box-sizing: border-box;
  padding: 1%;
}

@media screen and (max-width: 960px) {
  .collectionCardWrapper {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .collectionCardWrapper {
    width: 100%;
  }

  .collectionCardWrapper:nth-last-child(-n+3) {
    display: none;
  }
}
