/**
 *	Huedeck, Inc.
 */

@import '../../variables.css';

.container {
  width: 100%;
  min-height: 38px;
  background-color: var(--sky-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content {
  font-weight: 400;
  max-width: 80%;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.content a {
  color: grey;
}

.container button {
  position: absolute;
  color: #fff;
  right: 5px;
  padding: 5px;
  font-size: 18px;
}
